# Node
node_modules/
npm-debug.log
yarn-error.log

# Angular
frontend/dist/
frontend/.angular/

# Environment variables
.env
*.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# MongoDB
data/
