<mat-sidenav [mode]="'side'" [opened]="isMenuOpen" class="sidenav" [class.collapsed]="!isMenuOpen">
  <div class="sidebar-content">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span *ngIf="isMenuOpen">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/tasks" routerLinkActive="active">
        <mat-icon>task_alt</mat-icon>
        <span *ngIf="isMenuOpen">Tasks</span>
      </a>
      <a mat-list-item routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
        <span *ngIf="isMenuOpen">Profile</span>
      </a>
      <a mat-list-item routerLink="/settings" routerLinkActive="active">
        <mat-icon>settings</mat-icon>
        <span *ngIf="isMenuOpen">Settings</span>
      </a>
      
      <mat-divider></mat-divider>
      
      <a mat-list-item (click)="onLogout()" class="logout-item">
        <mat-icon>exit_to_app</mat-icon>
        <span *ngIf="isMenuOpen">Logout</span>
      </a>
    </mat-nav-list>
  </div>
</mat-sidenav>
